/* Formatting for responsive design was originally set up for a large window.
We had realized that the window on a computer would be responsive, but a mobile
wouldn't actually show the responsive design, so I we decided to format it for a mobile
first, then change the design as the screen got larger. */

/* Source: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design */

/* Font */
/* Beginning of Mobile Formatting
Organizer: Korey Hayes
Source:  https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design
Owners: Shown in the main formatting and @Media Formatting area */


/***************** 
* Owner : Honglin (Jim) Wei
* Date  : Nov 24 (v1)
* From  : https://www.w3schools.com/html/html_intro.asp
******************/

body,h1,h2,h3,h4,h5,h6, header, footer {font-family: "Lato", sans-serif}

.j {
    list-style-type: square;
}
.imgj{width: 1000%;
    list-style-type: none;
  }
.imgj2{width: 100%;
    list-style-type: none;
}
/* End Owner: Honglin (Jim) Wei */

/***************** 
* Owner : Jennifer Debono
* Nov 30 2020
* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions 
* Format footer
**********************************/
.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
/* End Owner: Jennifer Debono */

/***************** 
* Owner : Jennifer Debono
* Nov 30 2020
* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions 
* Format text style boxes for titles on Crew page
**********************************/
.crewgallery {
  margin: 5px;
  border: 1px solid #4e6d26;
  
  width: 300px;
}

.crewgallery Img {
  width: fit-content;
  height: fit-content;
  overflow: auto;

}

.crewdesc {
  padding: 15px;
  text-align: center;
}
/* End Owner: Jennifer Debono */

/****************** 
* Owner : Jennifer Debono 
* Dec 6 2020
* https://css-tricks.com/using-css-for-image-borders/
* formatting for images on remote Sensing and Spatial analysis
**********************************/
.imgJD {
 
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
}

.imgcolumn1 {
  float: left;
  width: 33.3%;
}

.imgcolumn2 {
  float: center;
  width: 33.3%;
}

.imgcolumn3 {
  float: right;
  width: 33.3%;
}

 /* formatting for after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  /* End Owner: Jennifer Debono */

/****************** 
* Owner : Jennifer Debono 
* Dec 6 2020
* https://css-tricks.com/using-css-for-image-borders/
* formatting for text header and descriptions 
**********************************/

.topJD {
  text-align: left;
  padding: 20px;
  border: 4px solid #4e6d26;
  margin-bottom: 20px;
}

/* End Owner: Jennifer Debono */

/***************** 
* Owner : Korey Hayes
* Date  : Nov 24 (v1)
* From  : https://programminghub.io/coursedetail/programming/learn/CSS/
* the tag names li, li a and ul are from https://developer.mozilla.org/en-US/docs/Web/HTML/Element
******************/

.columnk1,  .columnk2, .columnk3, .columnk4, article, header, aside, nav, li, a, .box{ 
width: 100%; 
}
/* Navigation Bar */

nav {
background-color: #4e6d26;
overflow: hidden;
}


/* i change the list-style type of the unordered lists in my html 
files to none so I don't get any bullets in my lists i set the
margins and padding to 0 so they mush together and set the overflow 
to hidden so the images and links bump up together */
ul {
margin:0;
padding:0;
overflow: hidden;
}

/* for the links I set them to float to the left so that they sit on 
top of the images and their background. It's part of my design plan 
and I think it works really well. I also display them as block so each 
link is on their own with their own set of padding (14px horizontal 
and 16px vertical) I didn't change it from what was shown in the 
w3schools tutorial for the navigation bar because it just worked with 
my layout. I did play around with it, which is why I know the first size 
is horizontal and the second is vertical. I make the color of the link 
text white, align them to the center of their respective boxes, remove 
their underline with "text-decoration: none" and give them a dashed 
border to the right of each block with border-right: 2px dashed white 
(2px width) */
.link{
    list-style-type: none;
}
  
li a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  /* I set a class to have the background color below. I use this for 
  the page the user is on in the navigation bar */
.active{background-color: #334719}

/* Style the navigation menu */
.navDrop {
overflow: hidden;
background-color: #4e6d26;
position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navDrop #navLinks {
display: none;
}

/* Style navigation menu links */
.navDrop a {
color: white;
padding: 10px;
text-decoration: none;
font-size: 16px;
display: block;
}
/* Add a grey background color on mouse-over */
.navDrop a:hover {
background-color: #9dcc60;
}

/* I designed the image formatting to be 100% the width of
whatever tag it is in. Each tag has been given a width of a
percentage to have a responsive display that depends on window size */
.image{width: 100%;
list-style-type: none;
}
/* we had decided as a group that the top of our page should have
a background to make sure that the photo placement is seamless */
.top{background-color: #4e6d26;}
/* I developed this formatting through w3school tutorials
and refined it through Programminghub.io 
I created a section that incorporated a side that was 30% of the page
and an artice that was 60% (to allow for no overlap with padding)
which is also responsive depending on the window size*/
article {
text-align: left;
float: left;
margin-left: 10px; 
}
section:after {
content: "";
display: table;
clear: both;
}
aside {
float: left;
padding: 10px;
background-color: #4e6d26;
}
/* This header was designed  to use my Mattawa River photo
to coincide with the Fleming College Logo */
header{
font-size: 50px;
float: right;
text-align:right;
background-color: #4e6d26;
}
/* End Owner: Korey Hayes */

/* Owner: Kedie Perdue
Nov 30, 2020
https://www.w3schools.com/css/css_form.asp
HTLM & CSS design and build websites, Jon Duckett, chapter 14*/

/*
{margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: 'arial';}*/

.label{
  position: absolute;
  top: 80%;
  left: 20%;
  /* transform: translate(-50%,-50%); */
  max-width: 350px;
  width: 100%;
  padding: 25px;
  border-radius: 5px; 
}

.label h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.label .input_field{
  margin-bottom: 10px;
}

.label .input_field input[type="text"],
.label textarea{
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}
/* style 'course' portion of the text area*/
.label textarea{
  resize: none;
  height: 80px;
}

/* style submit button*/

.label .btn2 input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: Green;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
}
#error_message{
  margin-bottom: 20px;
  background: grey;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
/* End Owner Kedie Perdue*/

/* End of Mobile Formatting */

/* Beginning of Computer Monitor Formatting */

@media only screen and (min-width: 1000px) {
/***************** 
* Owner : Honglin (Jim) Wei
* Date  : Nov 24 (v1)
* From  : https://www.w3schools.com/html/html_intro.asp
          https://css-tricks.com/almanac/properties/l/list-style/
          Colors: https://colourco.de/monochrome/5/77a838 Monochrome green  
******************/
.imgj{width: 50%;
  list-style-type: none;
}
.imgj2{width: 35%;
  list-style-type: none;
}    

/* End Owner: Honglin (Jim) Wei */

/***************** 
* Owner : Jennifer Debono
* Nov 30 2020
* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions 
* Format text style boxes for titles on Crew page
**********************************/
.box {
    width: 150px;
  }
  /* End Owner: Jennifer Debono */

  /***************** 
* Owner : Korey Hayes
* Date  : Nov 24 (v1)
* From  : https://programminghub.io/coursedetail/programming/learn/CSS/
* the tag names li, li a and ul are from https://developer.mozilla.org/en-US/docs/Web/HTML/Element
******************/
.columnk1{ float: left;
width: 59%;
}
.columnk2{ float: right;
width: 40%
}
.columnk3{ float: right;
width: 59%
}
.columnk4{ float: left;
width: 40%;
}
article { width: 60%;}
aside { width: 30%;}
header{width: 60%;}
li a {width:auto;}
}

/* End of Computer Monitor Formatting */
