/* Main Style stylesheet*/
/* Must be from less thatn 50% of one source*/ 

/* Font */


/* Navigation Bar */

nav {
  background-color: #880;
  overflow: hidden;
  position: fixed; /*Set the navbar to fixed position */
  top: 0;          /* Position navbar at the top of the page*/
  width: 100%;     /* Full width */

}
/* i change the list-style type of the unordered lists in my html files to none so I don't get any bullets in my lists i set the margins and padding to 0 so they mush together and set the overflow to hidden to the images and links bump up together */
ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

/* for the links I set them to float to the left so that they sit on top of the images and their background. It's part of my design plan and I think it works really well. I also display them as block so each link is on their own with their own set of padding (14px horizontal and 16px vertical) I didn't change it from what was shown in the w3schools tutorial for the navigation bar because it just worked with my layout. I did play around with it, which is why I know the first size is horizontal and the second is vertical. I make the color of the link text white, align them to the center of their respective boxes, remove their underline with "text-decoration: none" and give them a dashed border to the right of each block with border-right: 2px dashed white (2px width) */
li a {
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px dashed white;
}
/* I make it so that the background color of the link when
a user hovers over it is the same color of the aside 
background. It just lines things up and ties in the layout nicely */
li a:hover {
  background-color: #660;
}
/* I set a class to have the background color black. I use this for the page the user is on in the navigation bar */
.active{background-color:black}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
/* Style the footer
Taken from Jenn's web page */
.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
/* Korey has created a section for the header to have an image next to the web site name */
section:after {
  content: "";
  display: table;
  clear: both;
}
.header{width: 70%;}
aside {
  float: left;
  padding: 10px;
  width: 30%;
  background-color: #660;
}
.image{width: 100%;}
/* I'm going to make another change just to make sure I can /*
/* 9:17 November 17th 2020 */