/* Main Style stylesheet*/
/* Must be from less thatn 50% of one source*/ 

/***************** 
* Owner : Honglin (Jim) Wei
* Date  : Nov 24 (v1)
* From  : https://www.w3schools.com/html/html_intro.asp
******************/
/* Font */
body,h1,h2,h3,h4,h5,h6, header, footer {font-family: "Lato", sans-serif}

/* Colors: https://colourco.de/monochrome/5/77a838 Monochrome green */

.j {
  list-style-type: square;
}
/* Need help with implenting bullets */
/* https://css-tricks.com/almanac/properties/l/list-style/ */
/* End Owner: Honglin (Jim) Wei */

/***************** 
* Owner : Jennifer Debono
* Date  : Nov 24 (v1)
* From  : Link?
******************/

.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
/*********************************
Owner: Jenn Debono
Nov 30 2020
Link: ??
Footer style
**********************************/
.footer {
  background-color: #777;       /* This is a repeat */
  padding: 10px;
  text-align: center;
  color: white;
}
/*
Nov 30 2020
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions 
Format text style boxes for titles on Crew page
**********************************/

.box {
  width: 150px;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}
/* End Owner: Jennifer Debono */

/***************** 
* Owner : Korey Hayes
* Date  : Nov 24 (v1)
* From  : https://programminghub.io/coursedetail/programming/learn/CSS/
* the tag names li, li a and ul are from https://www.w3schools.com/css/css_navbar.asp
******************/

/* Navigation Bar */

nav {
  background-color: 
  #4e6d26;
  overflow: hidden;
  width: 100%;     /* Full width */

}
/* i change the list-style type of the unordered lists in my html 
files to none so I don't get any bullets in my lists i set the
 margins and padding to 0 so they mush together and set the overflow 
  /* list-style-type: none; */
 /* to hidden to the images and links bump up together */ */
ul {
  margin:0;
  padding:0;
  overflow: hidden;
}

/* for the links I set them to float to the left so that they sit on 
top of the images and their background. It's part of my design plan 
and I think it works really well. I also display them as block so each 
link is on their own with their own set of padding (14px horizontal 
and 16px vertical) I didn't change it from what was shown in the 
w3schools tutorial for the navigation bar because it just worked with 
my layout. I did play around with it, which is why I know the first size 
is horizontal and the second is vertical. I make the color of the link 
text white, align them to the center of their respective boxes, remove 
their underline with "text-decoration: none" and give them a dashed 
border to the right of each block with border-right: 2px dashed white 
(2px width) */
.link{list-style-type: none;}
li a {
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px dashed white;
}
/* I make it so that the background color of the link when
a user hovers over it is the same color of the aside 
background. It just lines things up and ties in the layout nicely */
li a:hover {
  background-color: #9dcc60;
}
/* I set a class to have the background color below. I use this for 
the page the user is on in the navigation bar */
.active{background-color: #334719}

/*********************************
Owner: Korey Hayes
Nov 24 2020
created a section for the header to have an image next to the web site name
**********************************/
/* I developed this formatting through w3school tutorials
and refined it through Programminghub.io 
I created a section that incorporated a side that was 30% of the page
and an artice that was 60% (to allow for no overlap with padding)
which is also responsive depending on the window size*/
article {
  text-align: left;
  float: left;
  width: 60%;
  margin-left: 10px; 
}
section:after { /* "section:after" is from https://www.w3schools.com/css/css_website_layout.asp */
  content: "";
  display: table;
  clear: both;
}
aside {
  float: left;
  padding: 10px;
  width: 30%;
  background-color: #4e6d26;
}
.image{width: 100%;}
/*End Owner: K. Hayes*/


/* This header was designed  to use my Mattawa River photo
to coincide with the Fleming College Logo */
header{width: 60%;
  font-size: 50px;
  float: right;
  text-align:right;
  background-color: #4e6d26;
}
/* I designed the image formatting to be 100% the width of
whatever tag it is in. Each tag has been given a width of a
percentage to have a responsive display that depends on window size */
.image{width: 100%;
  list-style-type: none;
}
/* we had decided as a group that the top of our page should have
a background to make sure that the photo placement is seamless */
.top{background-color: #4e6d26;}

/* now I will make my column classes to go with my individual web page */
.columnk1{ float: left;
width: 50%;
}
.columnk2{ float: right;
width: 40%
}
.columnk3{ float: right;
width: 50%
}
.columnk4{ float: left;
width: 40%;
}

/* End Owner: Korey Hayes */

/* Owner: Kedie Perdue
Nov 30, 2020
https://www.w3schools.com/css/css_form.asp*/

/*
{margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'arial';}

.wrapper{
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  padding: 25px;
  border-radius: 5px; 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

/* style submit button*/
/*
.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: Green;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
*/
/* End Owner Kedie Perdue*/
